<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.cfl.cflwork.dao.admin.sysPerm.SysPermDao">
    <!--########################################################generated code start,do not update################################################################-->
    <sql id="projection">
        <choose>
            <when test="pager!=null and pager.includes!=null">
                <foreach collection="pager.includes" item="field" separator=",">
                    T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(field)}
                </foreach>
            </when>
            <when test="pager!=null and pager.excludes!=null">
                <trim suffixOverrides=",">
                    <if test="!pager.excludes.contains('id')">
                        T.id,
                    </if>
                    <if test="!pager.excludes.contains('title')">
                        T.title,
                    </if>
                    <if test="!pager.excludes.contains('identify')">
                        T.identify,
                    </if>
                    <if test="!pager.excludes.contains('icon')">
                        T.icon,
                    </if>
                    <if test="!pager.excludes.contains('parentId')">
                        T.parent_id,
                    </if>
                    <if test="!pager.excludes.contains('type')">
                        T.type,
                    </if>
                    <if test="!pager.excludes.contains('routeName')">
                        T.routeName,
                    </if>
                    <if test="!pager.excludes.contains('urlPath')">
                        T.url_path,
                    </if>
                    <if test="!pager.excludes.contains('sortNum')">
                        T.sort_num,
                    </if>
                    <if test="!pager.excludes.contains('createTime')">
                        T.create_time,
                    </if>
                </trim>
            </when>
            <otherwise>
                T.*
            </otherwise>
        </choose>
    </sql>
    <sql id="match">
        <where>
            <if test="id!=null">
                <choose>
                    <when test="pager!=null and pager.like!=null and pager.like.contains('id')">
                        <trim suffixOverrides=",">
                            T.id like concat('%',#{id},'%')
                        </trim>
                    </when>
                    <otherwise>
                        T.id=#{id}
                    </otherwise>
                </choose>
            </if>
            <if test="title!=null">
                <choose>
                    <when test="pager!=null and pager.like!=null and pager.like.contains('title')">
                        <trim suffixOverrides=",">
                            and T.title like concat('%',#{title},'%')
                        </trim>
                    </when>
                    <otherwise>
                        and T.title=#{title}
                    </otherwise>
                </choose>
            </if>
            <if test="identify!=null">
                <choose>
                    <when test="pager!=null and pager.like!=null and pager.like.contains('identify')">
                        <trim suffixOverrides=",">
                            and T.identify like concat('%',#{identify},'%')
                        </trim>
                    </when>
                    <otherwise>
                        and T.identify=#{identify}
                    </otherwise>
                </choose>
            </if>
            <if test="icon!=null">
                <choose>
                    <when test="pager!=null and pager.like!=null and pager.like.contains('icon')">
                        <trim suffixOverrides=",">
                            and T.icon like concat('%',#{icon},'%')
                        </trim>
                    </when>
                    <otherwise>
                        and T.icon=#{icon}
                    </otherwise>
                </choose>
            </if>
            <if test="parentId!=null">
                <choose>
                    <when test="pager!=null and pager.like!=null and pager.like.contains('parentId')">
                        <trim suffixOverrides=",">
                            and T.parent_id like concat('%',#{parentId},'%')
                        </trim>
                    </when>
                    <otherwise>
                        and T.parent_id=#{parentId}
                    </otherwise>
                </choose>
            </if>
            <if test="type!=null">
                and T.type=#{type}
            </if>
            <if test="routeName!=null">
                <choose>
                    <when test="pager!=null and pager.like!=null and pager.like.contains('routeName')">
                        <trim suffixOverrides=",">
                            and T.routeName like concat('%',#{routeName},'%')
                        </trim>
                    </when>
                    <otherwise>
                        and T.routeName=#{routeName}
                    </otherwise>
                </choose>
            </if>
            <if test="urlPath!=null">
                <choose>
                    <when test="pager!=null and pager.like!=null and pager.like.contains('urlPath')">
                        <trim suffixOverrides=",">
                            and T.url_path like concat('%',#{urlPath},'%')
                        </trim>
                    </when>
                    <otherwise>
                        and T.url_path=#{urlPath}
                    </otherwise>
                </choose>
            </if>
            <if test="sortNum!=null">
                and T.sort_num=#{sortNum}
            </if>
            <if test="createTime!=null">
                <choose>
                    <when test="pager!=null and pager.like!=null and pager.like.contains('createTime')">
                        <trim suffixOverrides=",">
                            and T.create_time like concat('%',#{createTime},'%')
                        </trim>
                    </when>
                    <otherwise>
                        and T.create_time=#{createTime}
                    </otherwise>
                </choose>
            </if>
            <if test="pager!=null and pager.rangeField!=null and pager.rangeArray!=null and pager.rangeArray.length==2">
                <foreach collection="pager.rangeArray" item="item"  index="i">
                    <if test="i==0 and item!=null">
                        and ${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.rangeField)} &gt;= #{item}
                    </if>
                    <if test="i==1 and item!=null">
                        and ${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.rangeField)} &lt;= #{item}
                    </if>
                </foreach>

            </if>
        </where>
    </sql>
    <sql id="sort">
        <if test="pager!=null and pager.sortField!=null and pager.sortOrder!=null">
            order by
            <foreach collection="pager.sortField.split(',')" item="s" index="i" separator=",">
                T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(s)} ${pager.sortOrder.split(',')[i]}
            </foreach>
        </if>
    </sql>
    <sql id="page">
        <if test="pager!=null and  pager.paging">
            limit #{pager.beginRow},#{pager.pageSize}
        </if>
    </sql>


    <select id="findSysPermListByCondition" parameterType="SysPerm" resultType="SysPerm">
        select
        <include refid="projection"/>
        from sys_perm T
        <include refid="match"/>
        <include refid="sort"/>
        <include refid="page"/>
    </select>

    <select id="findSysPermAllList" parameterType="SysPerm" resultType="SysPerm">
        select
        <include refid="projection"/>
        from sys_perm T
        <include refid="match"/>
        <include refid="sort"/>
    </select>

    <select id="findSysPermCountByCondition" parameterType="SysPerm" resultType="long">
        select count(*) from sys_perm T
        <include refid="match"/>
    </select>
    <select id="findSysPermById" resultType="SysPerm">
        select * from sys_perm where id=#{id}
    </select>
    <select id="findOneSysPermByCondition" parameterType="SysPerm" resultType="SysPerm">
        select
        <include refid="projection"/>
        from sys_perm T
        <include refid="match"/>
    </select>
    <insert id="saveSysPerm" parameterType="SysPerm">
        insert into sys_perm
        (
        id,
        title,
        identify,
        icon,
        parent_id,
        type,
        routeName,
        url_path,
        sort_num,
        create_time
        ) values
        (
        #{id}
        ,
        #{title}
        ,
        #{identify}
        ,
        #{icon}
        ,
        #{parentId}
        ,
        #{type}
        ,
        #{routeName}
        ,
        #{urlPath}
        ,
        #{sortNum}
        ,
        now()

        )
    </insert>
    <update id="updateSysPerm" parameterType="SysPerm">
        update sys_perm
        <set>
            <if test="title!=null ">
                title=#{title},
            </if>
            <if test="identify!=null ">
                identify=#{identify},
            </if>
            <if test="icon!=null ">
                icon=#{icon},
            </if>
            <if test="parentId!=null ">
                parent_id=#{parentId},
            </if>
            <if test="type!=null ">
                type=#{type},
            </if>
            <if test="routeName!=null ">
                routeName=#{routeName},
            </if>
            <if test="urlPath!=null ">
                url_path=#{urlPath},
            </if>
            <if test="sortNum!=null ">
                sort_num=#{sortNum},
            </if>
            <if test="createTime!=null ">
                create_time=#{createTime}
            </if>
        </set>
        where id=#{id}
    </update>
    <delete id="deleteSysPerm" >
        delete from sys_perm where id=#{id}
    </delete>
    <delete id="deleteSysPermByCondition" >
        delete T from sys_perm T
        <include refid="match"/>
    </delete>
    <insert id="batchSaveSysPerm" parameterType="SysPerm">
        INSERT INTO sys_perm (  id,  title,  identify,  icon,  parent_id,  type,  routeName,  url_path,  sort_num,  create_time )
        VALUES
        <foreach collection="list" item="sysPerm" separator=",">
            (  #{sysPerm.id},  #{sysPerm.title},  #{sysPerm.identify},  #{sysPerm.icon},  #{sysPerm.parentId},  #{sysPerm.type},  #{sysPerm.routeName},  #{sysPerm.urlPath},  #{sysPerm.sortNum},  now()  )
        </foreach>
    </insert>
    <delete id="batchDeleteSysPerm" parameterType="string">
        delete from sys_perm where id in
        <foreach item="rowData" collection="rowData" open="(" separator="," close=")">
            #{rowData}
        </foreach>
    </delete>
    <update id="batchUpdateSysPerm" parameterType="SysPerm">
        update sys_perm
        <set>
            <if test="title!=null ">
                title=#{title},
            </if>
            <if test="identify!=null ">
                identify=#{identify},
            </if>
            <if test="icon!=null ">
                icon=#{icon},
            </if>
            <if test="parentId!=null ">
                parent_id=#{parentId},
            </if>
            <if test="type!=null ">
                type=#{type},
            </if>
            <if test="routeName!=null ">
                routeName=#{routeName},
            </if>
            <if test="urlPath!=null ">
                url_path=#{urlPath},
            </if>
            <if test="sortNum!=null ">
                sort_num=#{sortNum},
            </if>
            <if test="createTime!=null ">
                create_time=#{createTime}
            </if>
        </set>
        where id in
        <foreach item="rowData" collection="rowData" open="(" separator="," close=")">
            #{rowData}
        </foreach>
    </update>
    <!--##################################################generated code end,do not update######################################################################-->
    <select id="findRootSysPerm" resultType="top.cfl.cflwork.pojo.admin.SysPerm">
        select * from sys_perm where  parent_id is null
    </select>
    <select id="findSysPermByPId" resultType="top.cfl.cflwork.pojo.admin.SysPerm">
        select * from sys_perm where  parent_id=#{arg0}
    </select>
    <select id="findAdminRootSysPermMenu" resultType="top.cfl.cflwork.pojo.admin.SysPerm">
        select SP.* from admin A inner join admin_role AR on A.id=AR.admin_id
											inner join sys_role SR on AR.role_id= SR.id
											inner join role_perm RP on SR.id=RP.role_id
											inner join sys_perm SP on RP.perm_id=SP.id and type=0 and parent_id is null
											where A.id=#{0}
											group by SP.id
											order by SP.sort_num asc
    </select>
    <select id="findAdminSysPermMenuByPId" resultType="top.cfl.cflwork.pojo.admin.SysPerm">
        select SP.* from admin A inner join admin_role AR on A.id=AR.admin_id
											inner join sys_role SR on AR.role_id= SR.id
											inner join role_perm RP on SR.id=RP.role_id
											inner join sys_perm SP on RP.perm_id=SP.id and type=0 and parent_id=#{pId}
											where A.id=#{adminId}
											group by SP.id
											order by SP.sort_num asc
    </select>
    <select id="findSysPermsByPId" resultType="top.cfl.cflwork.pojo.admin.SysPerm">
        select * from sys_perm where parent_id
        <choose>
            <when test="pId==null">
                is null
            </when>
            <otherwise>
                =#{pId}
            </otherwise>
        </choose>
    </select>
    <select id="findSysPermChecked" resultType="java.lang.String">
        SELECT SP.id id from sys_role SR inner join role_perm RP on SR.id=RP.role_id
											inner join sys_perm SP on SP.id=RP.perm_id
											left join sys_perm SP1 on SP.id=SP1.parent_id
											where SR.id=#{arg0} and SP1.id is null
    </select>
    <select id="findAminTreeMenuV2" resultType="top.cfl.cflwork.pojo.admin.SysPerm">
        select SP.* from admin_role AR inner join sys_role SR on AR.role_id= SR.id
        inner join role_perm RP on SR.id=RP.role_id
        inner join sys_perm SP on RP.perm_id=SP.id and type=0
        <where>
            <if test="adminId!=null">
                AR.admin_id=#{adminId}
            </if>
        </where>
        group by SP.id
        order by SP.sort_num asc
    </select>

</mapper>